.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 10px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #202020;
}

.nav .nav__list {
  display: flex;
  justify-content: space-around;
}
.nav i {
  font-size: 20px;
}
